ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #44749D;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 10%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

li a:hover {
  background-color: #C6D4E1;
}
p {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
.profile-pic {
  margin-top: 10%;
  padding: 14px 16px;
}

.card {
  margin-top: 15%;
  padding: 14px;
}
.card-text, .card-title {
  color: black;
  font-family: Noto Sans, sans-serif;
}

.modal-text {
  color: black;
  font-family: Noto Sans, sans-serif;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-left: 10%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  margin-top: 10%;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}